<!-- Hero Section -->
<section style="text-align: center; padding: 60px 20px; background: #f8fafc;">
    <h1>Welcome to My Angular Project 👋</h1>
</section>
<section style="text-align: center; padding: 20px;">
    
</section>
<!-- Cards Section -->
<section style="padding: 40px; display: flex; gap: 20px; justify-content: center;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Is Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.isAction ? 'Yes' : 'No' }}</td>
                <td>
                    <!-- <button (click)="editItem(item.id)">Edit</button> -->
                    <button (click)="deleteItem(item.id)">Delete</button>
                </td>
            </tr>
    </table>
</section>