<!-- Hero Section -->
<section style="text-align: center; padding: 60px 20px; background: #f8fafc">
    <h1>Welcome to My Angular Project 👋</h1>
</section>
<section style="text-align: center; padding: 20px">
    <div class="d-flex justify-content-end">
        <button class="btn btn-info" (click)="isAdding = true">Add Category</button>
    </div>

    @if(isAdding){
    <div class="container mt-4">
        <h4>Add Category</h4>
        <form [formGroup]="addForm" class="row g-3 align-items-center" (ngSubmit)="addCategory()">
            <div class="col-auto">
                <input type="text" class="form-control" id="categoryName" formControlName="name" placeholder="Name" />
            </div>

            <div class="col-auto">
                <input type="text" class="form-control" id="categoryDescription" formControlName="description"
                    placeholder="Description" />
            </div>

            <div class="col-auto mt-4">
                <input type="checkbox" class="form-check-input" formControlName="isAction" id="isActive" />
                <label class="form-check-label ms-1" for="isActive">Active</label>
            </div>

            <div class="col-auto mt-4">
                <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Add</button>
                <button type="button" class="btn btn-secondary ms-2" (click)="isAdding = false">Cancel</button>
            </div>
        </form>
    </div>
    }


</section>
@if(isEditing){
<section style="text-align: center; padding: 20px">
    <div class="container mt-4">
        <h4>Edit Category</h4>

        <form class="row g-3 align-items-center" [formGroup]="editForm" (ngSubmit)="updateCategory()">
            <div class="col-auto">
                <input type="text" class="form-control" formControlName="id" placeholder="ID" />
            </div>

            <div class="col-auto">
                <input type="text" class="form-control" formControlName="name" placeholder="Name" />
            </div>

            <div class="col-auto">
                <input type="text" class="form-control" formControlName="description"  placeholder="Description" />
            </div>

            <div class="col-auto mt-4">
                <input type="checkbox" class="form-check-input" formControlName="isAction" />
                <label class="form-check-label ms-1" for="isActive">Active</label>
            </div>

            <div class="col-auto mt-4">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary ms-2" (click)="isEditing = false">Cancel</button>
            </div>
        </form>
    </div>
</section>
}

<!-- Cards Section -->
<section style="padding: 40px; display: flex; gap: 20px; justify-content: center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Is Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.isAction ? 'Yes' : 'No' }}</td>
                <td>
                    <button (click)="editItem(item.id)">Edit</button>
                    <button (click)="deleteItem(item.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>